  <div id="sidepanel">
    <h2 id="current-panel">部落格後台</h2>
    <div class="panel-links">
      <div class="panel-selector">
        <%= render :partial => "common/master" %>
      </div>
      <div class="panel-group">
        <h3 id="panel-blog-post"><span class="hide">文章管理</span></h3>
        <ul class="panel-ul">
          <li class="active"><%= link_to "#{image_tag('//s.pixfs.net/panel/images/icons/comments.gif')}迴響管理".html_safe, blog_comments_path %></li>
        </ul>
      </div>
    </div>
  </div>
