<div id="sidepanel">
  <h2 id="current-panel">帳戶管理後台</h2>
  <div class="panel-links">
    <div class="panel-group">
      <h3 id="panel-account-config"><span class="hide">帳號管理與設定</span></h3>
      <ul class="panel-ul">
        <li class="active"><%= link_to "#{image_tag('//s.pixfs.net/panel/images/icons/admin.gif')}小幫手設定與管理".html_safe, assistances_path %></li>
      </ul>
    </div>
  </div>
</div>
<div id="workspace">
  <div id="breadcrumb">
    <ul>
      <li >
      <span class="crumb">帳戶管理</span>
      <span class="raquo">&raquo;</span>
      </li>
      <li >
      <span class="crumb">帳號管理與設定</span>
      <span class="raquo">&raquo;</span>
      </li>
      <li class="active">
      <span class="crumb">小幫手設定與管理</span>
      <span class="raquo">&raquo;</span>
      </li>
    </ul>
  </div><!-- breadcrumb -->
  <div id="page-tabs">
    <ul>
      <li class="active"><%= link_to "新增／編輯小幫手", assistances_path %><li>
      <li ><a href="/account/assistantlogs">小幫手日誌</a></li>
    </ul>
  </div>
  <% form_for @assistance, :html => { :id => :create_assistant } do |f| %>
    <div class="content">
      <h3 class="section-header" id="basic-info"><span class="hide">新增小幫手</span></h3>
      <table class="settings-table th-large" cellspacing="0">
        <tr>
          <th>
            <label for="a1">小幫手列表</label>
          </th>
          <td>
            <%= @assistances.collect{|a| a.assistant_name}.join(', ') %>
          </td>
        </tr>
        <tr>
          <th>
            <label for="ae">新增小幫手</label>
          </th>
          <td>
            <%= f.text_field :assistant_name, { :size => 32, :maxlength => 32  } %>
            <button title="新增小幫手" type="submit"><span>新增</span></button>
          </td>
        </tr>
        <tr>
          <th>
            <label for="ae">編輯小幫手</label>
          </th>
          <td>
            <select name="assistant_id"><option value="-1">請選擇</option></select>         <button title="編輯小幫手" onclick="redirect_edit();return false;"><span>編輯</span></button>
            <button title="刪除小幫手" onclick="return confirm_delete();"><span>刪除</span></button>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div><!-- workspace -->
