  <div id="sidepanel">
    <h2 id="current-panel">外掛</h2>
    <div class="panel-links">
      <div class="panel-selector">
        <%= render :partial => "common/master" %>
      </div>
      <div class="panel-group">
        <h3 id="panel-plugin-blog"><span class="hide">部落格側邊欄位</span></h3>
        <ul class="panel-ul">
          <li class="active"><%= link_to "#{image_tag('//s.pixfs.net/panel/images/icons/layout_header.gif')}Banner連結".html_safe, plugin_banners_path %></li>
        </ul>
      </div>
    </div>
  </div>
