<div id="page-body" class="toolbar-hide">
  <%= render :partial => "common/sidepanel" %>
  <div id="workspace">
    您必須先連結 <%= link_to "PIXNET OAuth", oauth_consumer_path("pixnet") %> 才能使用這項功能
  </div>
</div>
